# Arquivos do próprio Visual Studio e cache
.vs/
*.suo
*.user
*.sln.docstates

# Pastas onde o código compilado é gerado (Build)
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Arquivos de log e temporários do Windows/Mac
*.log
.DS_Store
Thumbs.db

# Pastas de pacotes e dependências baixadas automaticamente
packages/
